{% extends "base.html" %}{% block base %}
<div class="content">
    <form style="margin-left: 300px;" method="post">
        {% csrf_token %}
        <!-- Email input -->
        <div>
            <input type="text" name="username" class=" form-control-lg" />
            <br><br>
            <label class="form-label" for="form1Example13">Username</label><br>
        </div>

        <!-- Password input -->
        <div>
            <input type="password" name="password" class=" form-control-lg" /><br><br>
            <label class="form-label" for="form1Example23">Password</label><br>
        </div>
        <!-- Submit button -->
        <div><button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">Sign
            in</button></div>
    </form>
</div>
{% endblock base %}
