{% extends "base.html" %}
{% block hiw %}class="activ"{% endblock %}
{% block base %}<div class="content"> 
    <img class="cimg"
        src="/static/images/home.png" alt=""><br><br><hr><br><br>
        <p>WELCOME TO THE HOMEPAGE  <br><br>
            Online Fraud Detector
        </p>
<br><br><hr><hr><br><br>
    <img class="cimg"
        src="/static/images/login.png" alt=""><br><br><hr><br><br>
        <p>STEP 1 <br>
            Click on login icon to login inito the website using <br><br>
            USERNAME : admin <br>
            PASSWORD : admin</p>
            <br><br><hr><hr><br><br>
    <img class="cimg"
        src="/static/images/fraudpredictor.png" alt=""><br><br><hr><br><br>
        <p>STEP 2<br><br>
            Click on the fraud predictor icon to make prediction</p>
            <br><br><hr><hr><br><br>
    <img class="cimg"
        src="/static/images/dataentry.png" alt=""><br><br><hr><br><br>
        <p>STEP 3<br><br>
            Input the Required Credentials to validate it....</p>
            <br><br><hr><hr><br><br>
    <img class="cimg"
        src="/static/images/valid.png" alt=""><br><br><hr><br><br>
        <p>STEP 4<br><br>
            Click on submit button to check the predictions..<br>
            If the input credentials are Valid then Following Dialog Box appears...</p>
<br><br><hr><hr><br><br>
    <img class="cimg"
        src="/static/images/invalid.png" alt=""><br><br><hr><br><br>
        <p><br>
            If the input credentials are InValid then Following Dialog Box appears...</p>
<br><br><hr><hr><br><br>
</div>
{% endblock base %}