{% extends "base.html" %}{% block base %}
    {% if output %}<div class="alert alert-primary alert-dismissible fade show" role="alert">
                            <strong>Hey {{user.username}}</strong> The input data is {{ output }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>{% endif %}
    <div class="form">
        <form method="get">
                <div>
                    <label for="step"> Step:</label>
                    <input type="number" name="step" id="" value="{{step}}">
                </div>
                <div>
                    <label for="name"> Type of transaction:</label>
                    <select name="transaction" id="transaction">
                        <option value="CASH_OUT">CASH_OUT</option>
                        <option value="CASH_IN">CASH_IN</option>
                        <option value="PAYMENT">PAYMENT</option>
                        <option value="TRANSFER">TRANSFER</option>
                    </select>

                </div>
                <div>
                    <label for="amount"> Enter the Amount:</label>
                    <input type="number" name="amount" id="" value="{{amt}}">
                </div>
            
            
                <div>
                    <label for="Customerid">Customerid:</label>
                    <input type="text" name="Customerid" value="{{cid}}">
                </div>
                <div>
                    <label for="Old Balance"> Old Balance:</label>
                    <input type="number" name="Old Balance" value="{{ob}}">
                </div>
                <div>
                    <label for="New Balance"> New Balance:</label>
                    <input type="number" name="New Balance" value="{{nb}}">
                </div>
                <div>
                    <label for="Recipientid">Recipientid:</label>
                    <input type="text" name="Recipientid" value="{{rid}}">
                </div>
                <div>
                    <label for="Recipient Old Balance"> Recipient Old Balance:</label>
                    <input type="number" name="Recipient Old Balance" value="{{rob}}">
                </div>
                <div>
                    <label for="Recipient New Balance">Recipient New Balance:</label>
                    <input type="number" name="Recipient New Balance" value="{{rnb}}">
                </div>
            <div><button type="submit">submit</button></div>
        </form>
    </div>
{% endblock base %}
</body>
</html>
