{% extends "base.html" %}
{% block home %}class="activ"{% endblock %}
{% block base %}
<div class="form">
    <form method="GET">
        <table>
            <tr>
                <td>
                    <label for="step"> Step:</label>
                </td>
                <td>
                    <input required  name="step" id="" value="{{step}}">
                </td>
                <td>
                    <label for="name"> Type of transaction:</label>
                </td>
                <td ><select style="width: 234px;height: 30px;" name="transaction" id="transaction">
                        <option style="color: black;" value="<--select-->">--select--</option>
                        <option style="color: black;" value="CASH_OUT">CASH_OUT</option>
                        <option style="color: black;"  value="CASH_IN">CASH_IN</option>
                        <option style="color: black;" value="PAYMENT">PAYMENT</option>
                        <option style="color: black;" value="TRANSFER">TRANSFER</option>
                    </select>
                </td>
                <td>
                    <label for="amount"> Enter the Amount:</label>
                </td>
                <td><input required  name="amount" id="" value="{{amt}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Customerid">Customerid:</label>
                </td>
                <td><input required type="text" name="Customerid" value="{{cid}}">
                </td>
                <td>
                    <label for="Old Balance"> Old Balance:</label>
                </td>
                <td><input required  name="Old Balance" value="{{ob}}">
                </td>
                <td>
                    <label for="New Balance"> New Balance:</label>
                </td>
                <td><input required  name="New Balance" value="{{nb}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Recipientid">Recipientid:</label>
                </td>
                <td><input required type="text" name="Recipientid" value="{{rid}}">
                </td>
                <td>
                    <label for="Recipient Old Balance"> Recipient Old Balance:</label>
                </td>
                <td><input required  name="Recipient Old Balance" value="{{rob}}">
                </td>
                <td>
                    <label for="Recipient New Balance">Recipient New Balance:</label>
                </td>
                <td><input required  name="Recipient New Balance" value="{{rnb}}">
                </td>
            </tr>
        </table>
        <!-- Button trigger modal -->
        <center><button type="submit" class="btn btn-primary">
                submit
            </button></center>
        {% if output == 'not fraud' %}
        <div style="height:200px;width:350px;position:absolute;margin-top:-350px;margin-left:550px;font-size:20px;border:green 2px solid;border-radius:10px;background-color:rgba(49, 211, 135, 0.9);"
            class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hello! {{user.username}}
                <hr>
            </strong> Your Input data is Valid<br>
            <hr>
            <button style="padding:5x;font-size:10px;margin-top:10px;" type="button" class="btn-close"
                data-bs-dismiss="alert" aria-label="Close"></button>
        </div>{% elif output == 'Fraud' %}

        <div style="height:200px;width:350px;position:absolute;margin-top:-350px;margin-left:550px;font-size:20px;border:red 2px solid;border-radius:10px;background-color:rgba(251, 44, 85, 0.9);"
            class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hello! {{user.username}}
                <hr>
            </strong> Your Input data is InValid<br>
            <hr>
            <button style="padding:5x;font-size:10px;margin-top:10px;" type="button" class="btn-close"
                data-bs-dismiss="alert" aria-label="Close"></button>
        </div>{% endif %}
    </form>
</div>
{% endblock base %}
