{% extends "base.html" %}
{% block home %}class="activ"{% endblock %}
{% block base %}
<div class="form">
    <form  method="get">
        <table>
            <tr>
                <td>
                    <label for="step"> Step:</label>
                </td>
                <td>
                    <input type="number" name="step" id="" value="{{step}}">
                </td>
                <td>
                    <label for="name"> Type of transaction:</label>
                </td>
                <td><select name="transaction" id="transaction">
                        <option value="CASH_OUT">CASH_OUT</option>
                        <option value="CASH_IN">CASH_IN</option>
                        <option value="PAYMENT">PAYMENT</option>
                        <option value="TRANSFER">TRANSFER</option>
                    </select>
                </td>
                <td>
                    <label for="amount"> Enter the Amount:</label>
                </td>
                <td><input type="number" name="amount" id="" value="{{amt}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Customerid">Customerid:</label>
                </td>
                <td><input type="text" name="Customerid" value="{{cid}}">
                </td>
                <td>
                    <label for="Old Balance"> Old Balance:</label>
                </td>
                <td><input type="number" name="Old Balance" value="{{ob}}">
                </td>
                <td>
                    <label for="New Balance"> New Balance:</label>
                </td>
                <td><input type="number" name="New Balance" value="{{nb}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Recipientid">Recipientid:</label>
                </td>
                <td><input type="text" name="Recipientid" value="{{rid}}">
                </td>
                <td>
                    <label for="Recipient Old Balance"> Recipient Old Balance:</label>
                </td>
                <td><input type="number" name="Recipient Old Balance" value="{{rob}}">
                </td>
                <td>
                    <label for="Recipient New Balance">Recipient New Balance:</label>
                </td>
                <td><input type="number" name="Recipient New Balance" value="{{rnb}}">
                </td>
            </tr>
        </table>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            submit
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Hi! {{ user.username}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div style="color: black;" class="modal-body">
                        The input data is  {{ output }} <br><hr>
                    </div><hr>
                </div>
            </div>
        </div>
    
    </form>
</div>
{% endblock base %}
</body>

</html>