{% extends "base.html" %}
{% block index %}class="activ"{% endblock %}
{% block base %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div style="padding: 30px;" class="corousel">
                <img style="height: 300px;" class="cimg"
                    src="https://miro.medium.com/v2/resize:fit:2000/1*M2dT90tDTwIYTQcNPkcmvg.jpeg" alt="">
                <div style="margin-top:40px;margin-right:100px;width:350px;text-align:center;">
                    <h4>
                        <b style="font-size:30px;">Welcome to our beautiful project which detect scams and adds security
                            to minimize the risk using <br><br> MACHINE LEARNING!!!</b>
                    </h4>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div style="padding: 30px;" class="corousel">
                <img style="height: 300px;" class="cimg"
                    src="https://media.licdn.com/dms/image/D4E12AQHQLkezHKEmAw/article-cover_image-shrink_720_1280/0/1687431599345?e=2147483647&v=beta&t=AEO3VZ-eTus-c55ZLPetcHHeFp82CD5C48_bZS43gp0"
                    alt="">
                <div style="margin-top:60px;margin-right: 40px;width: 280px;text-align: center;">
                    <h4>
                        <b style="font-size:22px"> We are providing
                            extra promising
                            features for
                            online payment
                            fraud detection.
                            This incredible
                            feature updates the
                            quality of online
                            fraud detection!!!</b>
                    </h4>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div style="padding: 30px;" class="corousel">
                <img style="height: 300px;" class="cimg"
                    src="https://t3.ftcdn.net/jpg/01/28/44/76/360_F_128447604_6deYSrg6bgH2F3YaoU0icdhvxNu4ReDN.jpg"
                    alt="">
                <div style="margin-top:60px;margin-right: 40px;width: 200px;text-align: center;">
                    <h4>
                        <b> We are providing
                            extra promising
                            features for
                            online payment
                            fraud detection.
                            This incredible
                            feature updates the
                            quality of online
                            fraud detection!!!</b>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock base %}